@import 'components/buttons';
@import 'components/toggle';
@import 'components/checkbox';
@import 'components/cards';


/**
 * Toolkit styles
 */
html {
    font-size: 100%;
}

body {
	font-family: sans-serif;
    padding-left: 50px;
}
