---
notes: |
  These are notes associated with this `checkbox` component.
---
<div class="checkbox">
  <label>
    <input type="checkbox" value="">
    <!-- override icon here -->
    <span class="glyphicon glyphicon-ok"></span>
    Option one is this and that&mdash;be sure to include why it's great
  </label>
</div>
<div class="checkbox">
  <label>
    <input type="checkbox" value="" checked disabled>
    <span></span>
    Option two checked disabled
  </label>
</div>
<div class="checkbox">
  <label>
    <input type="checkbox" value="" disabled>
    <span></span>
    Option three disabled
  </label>
</div>


<div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
    <span></span>
    Option one is this and that&mdash;be sure to include why it's great
  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
    <span></span>
    Option two can be something else and selecting it will deselect option one
  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" name="optionsRadios2" id="optionsRadios3" value="option3" disabled>
    <span></span>
    Option three disabled
  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" name="optionsRadios2" id="optionsRadios4" value="option4" checked disabled>
    <span></span>
    Option four checked disabled
  </label>
</div>

