<label>
	<input type="radio" name="groupName" id="radio1" /> Radio 1
</label>

<label>
	<input type="radio" name="groupName" id="radio2" /> Radio 2
</label>

<label>
	<input type="radio" name="groupName" id="radio3" /> Radio 3
</label>