.checkbox *,
.radio *{
  cursor: pointer;
}

.checkbox input,
.radio input {
  opacity: 0;
}

.checkbox span,
.radio span{
  position: relative;
  display: inline-block;
  margin-left: -25px;
  vertical-align: top;
  width: 20px; height: 20px;
  border-radius: 2px;
  border: 1px solid $primary;
}

.checkbox:hover span,
.radio:hover span{
  border-color: $primary;
}

.checkbox span:before,
.radio span:before{
  content: "\2713"; /* comment content to use custom icon classes */
  position: absolute;
  top: 0; left: 0;  right: 0; bottom: 0;
  opacity: 0;
  text-align: center;
  font-size: 16px;
  line-height: 16px;
  vertical-align: middle;
  color: $primary;
}

/* override for radio */
.radio span {
  border-radius: 50%;
}
.radio span:before {
  content: "";
  width: 10px; height: 10px;
  margin: 4px auto;
  background-color: $primary;
  border-radius: 100px;
}

.checkbox input[type=checkbox]:checked + span,
.radio input[type=radio]:checked + span{
  border-color: $primary;
  background-color: $primary;
}

.radio input[type=radio]:checked + span{
  background-color: #fff;
}

.checkbox input[type=checkbox]:checked + span:before,
.radio input[type=radio]:checked + span:before{
  color: #fff;
  opacity: 1;
  transition: color .3 ease-out;
}

.checkbox input[type=checkbox]:disabled + span,
.radio input[type=radio]:disabled + span{
  border-color: #ddd !important;
  background-color: #ddd !important;
}
