// Bootstrap Colors
$default: #ffffff;
$primary: #428bca;
$success: #5cb85c;
$info:    #5bc0de;
$warning: #f0ad4e;
$danger:  #d9534f;



/* --- SWITCH --- */

.switch * {
  cursor: pointer;
}

.switch input {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.switch span {
  position: relative;
  display: inline-block;
  width: 58px; height: 30px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 100px;
  transition: all .5s;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.1) inset;
}

.switch span:after {
 content: "";
 position: absolute;
 background-color: #fff;
 top: 0; left: 0;
 height: 28px; width: 28px;
 border: 1px solid #ddd;
 border-radius: 400px;
 box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
 -webkit-transition: all .2s;
}

.switch input:checked + span {
  background-color: $primary;
  border-color: $primary;
  transition: all .5s;
}

.switch input:checked + span:after {
  left: 50%;
  transition: all .2s;
}